APP_ENV=dev
APP_SECRET=change-me-for-local-development
APP_NAME=NZERU Help Desk
APP_SHORT_NAME=NZERU
APP_TAGLINE=Help Desk
APP_LOGO_PATH=assets/styles/logonzeru.jpeg
DATABASE_URL="sqlite:///%kernel.project_dir%/var/data/mudi_sacco_support.db"
MESSENGER_TRANSPORT_DSN=sync://
